<a href="https://colab.research.google.com/github/yjyg1215/Project_MachineLearning/blob/main/anime_recsys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#주제: 머신러닝을 활용한 애니메이션 추천 시스템

##1. 기획 배경 및 문제 정의

애니메이션 시장은 굉장히 큼

최근들어 애니메이션 산업은 DVD 등의 매체를 통한 배급에서 OTT를 통한 배급으로 전환되는 추세다.

OTT를 통해 애니메이션을 시청하는 사람이 늘어나는 만큼, 추천시스템 기반을 잘 마련하는 것이 중요하게 됨.

##2. 가설 설정

##3. EDA

In [1]:
import pandas as pd
import numpy as np

###1) anime.csv

* `MAL_ID`: MyAnimelist ID of the anime. (e.g. 1)
* `Name`: full name of the anime. (e.g. Cowboy Bebop)
* `Score`: average score of the anime given from all users in MyAnimelist database. (e.g. 8.78)
* `Genres`: comma separated list of genres for this anime. (e.g. Action, Adventure, Comedy, Drama, Sci-Fi, Space)
* `English name`: full name in english of the anime. (e.g. Cowboy Bebop)
* `Japanese name`: full name in japanses of the anime. (e.g. カウボーイビバップ)
* `Type`: TV, movie, OVA, etc. (e.g. TV)
* `Episodes`: number of chapters. (e.g. 26)
* `Aired`: broadcast date. (e.g. Apr 3, 1998 to Apr 24, 1999)
* `Premiered`: season premiere. (e.g. Spring 1998)
* `Producers`: comma separated list of produducers (e.g. Bandai Visual)
* `Licensors`: comma separated list of licensors (e.g. Funimation, Bandai Entertainment)
* `Studios`: comma separated list of studios (e.g. Sunrise)
* `Source`: Manga, Light novel, Book, etc. (e.g Original)
* `Duration`: duration of the anime per episode (e.g 24 min. per ep.)
* `Rating`: age rate (e.g. R - 17+ (violence & profanity))
* `Ranked`: position based in the score. (e.g 28)
* `Popularity`: position based in the the number of users who have added the anime to their list. (e.g 39)
* `Members`: number of community members that are in this anime's "group". (e.g. 1251960)
* `Favorites`: number of users who have the anime as "favorites". (e.g. 61,971)
* `Watching`: number of users who are watching the anime. (e.g. 105808)
* `Completed`: number of users who have complete the anime. (e.g. 718161)
* `On-Hold`: number of users who have the anime on Hold. (e.g. 71513)
* `Dropped`: number of users who have dropped the anime. (e.g. 26678)
* `Plan to Watch`: number of users who plan to watch the anime. (e.g. 329800)
* `Score-10`: number of users who scored 10. (e.g. 229170)
* `Score-9`: number of users who scored 9. (e.g. 182126)
* `Score-8`: number of users who scored 8. (e.g. 131625)
* `Score-7`: number of users who scored 7. (e.g. 62330)
* `Score-6`: number of users who scored 6. (e.g. 20688)
* `Score-5`: number of users who scored 5. (e.g. 8904)
* `Score-4`: number of users who scored 4. (e.g. 3184)
* `Score-3`: number of users who scored 3. (e.g. 1357)
* `Score-2`: number of users who scored 2. (e.g. 741)
* `Score-1`: number of users who scored 1. (e.g. 1580)

In [69]:
anime=pd.read_csv("/content/drive/MyDrive/archive/anime.csv")

df_anime=anime.copy()
df_anime.head().T

,0,1,2,3,4
MAL_ID,1,5,6,7,8
Name,Cowboy Bebop,Cowboy Bebop: Tengoku no Tobira,Trigun,Witch Hunter Robin,Bouken Ou Beet
Score,8.78,8.39,8.24,7.27,6.98
Genres,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","Action, Drama, Mystery, Sci-Fi, Space","Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Action, Mystery, Police, Supernatural, Drama, ...","Adventure, Fantasy, Shounen, Supernatural"
English name,Cowboy Bebop,Cowboy Bebop:The Movie,Trigun,Witch Hunter Robin,Beet the Vandel Buster
Japanese name,カウボーイビバップ,カウボーイビバップ 天国の扉,トライガン,Witch Hunter ROBIN (ウイッチハンターロビン),冒険王ビィト
Type,TV,Movie,TV,TV,TV
Episodes,26,1,26,26,52
Aired,"Apr 3, 1998 to Apr 24, 1999","Sep 1, 2001","Apr 1, 1998 to Sep 30, 1998","Jul 2, 2002 to Dec 24, 2002","Sep 30, 2004 to Sep 29, 2005"
Premiered,Spring 1998,Unknown,Spring 1998,Summer 2002,Fall 2004
Producers,Bandai Visual,"Sunrise, Bandai Visual",Victor Entertainment,"TV Tokyo, Bandai Visual, Dentsu, Victor Entert...","TV Tokyo, Dentsu"
Licensors,"Funimation, Bandai Entertainment",Sony Pictures Entertainment,"Funimation, Geneon Entertainment USA","Funimation, Bandai Entertainment",Unknown
Studios,Sunrise,Bones,Madhouse,Sunrise,Toei Animation
Source,Original,Original,Manga,Original,Manga
Duration,24 min. per ep.,1 hr. 55 min.,24 min. per ep.,25 min. per ep.,23 min. per ep.
Rating,R - 17+ (violence & profanity),R - 17+ (violence & profanity),PG-13 - Teens 13 or older,PG-13 - Teens 13 or older,PG - Children
Ranked,28.0,159.0,266.0,2481.0,3710.0
Popularity,39,518,201,1467,4369
Members,1251960,273145,558913,94683,13224
Favorites,61971,1174,12944,587,18
Watching,105808,4143,29113,4300,642
Completed,718161,208333,343492,46165,7314
On-Hold,71513,1935,25465,5121,766
Dropped,26678,770,13925,5378,1108
Plan to Watch,329800,57964,146918,33719,3394
Score-10,229170.0,30043.0,50229.0,2182.0,312.0
Score-9,182126.0,49201.0,75651.0,4806.0,529.0
Score-8,131625.0,49505.0,86142.0,10128.0,1242.0
Score-7,62330.0,22632.0,49432.0,11618.0,1713.0
Score-6,20688.0,5805.0,15376.0,5709.0,1068.0
Score-5,8904.0,1877.0,5838.0,2920.0,634.0
Score-4,3184.0,577.0,1965.0,1083.0,265.0
Score-3,1357.0,221.0,664.0,353.0,83.0
Score-2,741.0,109.0,316.0,164.0,50.0
Score-1,1580.0,379.0,533.0,131.0,27.0

In [70]:
print("anime's shape: ",df_anime.shape)

anime's shape:  (17562, 35)

In [71]:
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  object
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  object
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  object
 26  Score-9        17562 non-null  object
 27  Score-8        17562 non-null  object
 28  Score-7        17562 non-null  object
 29  Score-6        17562 non-null  object
 30  Score-5        17562 non-null  object
 31  Score-4        17562 non-null  object
 32  Score-3        17562 non-null  object
 33  Score-2        17562 non-null  object
 34  Score-1        17562 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.7+ MB

In [72]:
#수치형 데이터인데 데이터타입이 object인 컬럼은 int 및 float로 변환

scores=['Score-1','Score-2','Score-3','Score-4','Score-5','Score-6','Score-7','Score-8','Score-9','Score-10']
df_anime=df_anime.replace("Unknown",'0')
for col in scores:
  df_anime[col]=df_anime[col].apply(lambda x: x.replace(".0",""))
df_anime['Score']=df_anime['Score'].astype(float)
df_anime['Episodes']=df_anime['Episodes'].astype(int)
df_anime['Score-1']=df_anime['Score-1'].astype(int)
df_anime['Score-2']=df_anime['Score-2'].astype(int)
df_anime['Score-3']=df_anime['Score-3'].astype(int)
df_anime['Score-4']=df_anime['Score-4'].astype(int)
df_anime['Score-5']=df_anime['Score-5'].astype(int)
df_anime['Score-6']=df_anime['Score-6'].astype(int)
df_anime['Score-7']=df_anime['Score-7'].astype(int)
df_anime['Score-8']=df_anime['Score-8'].astype(int)
df_anime['Score-9']=df_anime['Score-9'].astype(int)
df_anime['Score-10']=df_anime['Score-10'].astype(int)

df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  float64
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  int64
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  int64
 26  Score-9        17562 non-null  int64
 27  Score-8        17562 non-null  int64
 28  Score-7        17562 non-null  int64
 29  Score-6        17562 non-null  int64
 30  Score-5        17562 non-null  int64
 31  Score-4        17562 non-null  int64
 32  Score-3        17562 non-null  int64
 33  Score-2        17562 non-null  int64
 34  Score-1        17562 non-null  int64
dtypes: float64(1), int64(20), object(14)
memory usage: 4.7+ MB

In [73]:
#Genre 컬럼 나누기

genres=['Action', 'Adventure','Comedy',
    'Slice of Life','Drama','Sci-Fi',
    'Game','Harem','Military','Space','Music', 'Mecha',
     'Historical', 'Mystery', 'School', 'Hentai', 'Fantasy', 'Horror',
     'Kids', 'Sports', 'Magic', 'Romance']

for genre in genres:
  df_anime[genre]=[0]*len(df_anime)
  df_anime.loc[df_anime['Genres'].str.contains(genre,na=False),genre]=1

In [74]:
#Premiered 컬럼 연도와 계절로 나누기

df_anime['Year']=df_anime['Premiered'].apply(lambda x: x[-4:])
df_anime['Season']=df_anime['Premiered'].apply(lambda x: x[:-5])

In [106]:
#Duration 컬럼 단위를 분으로 나타내기

du=[]
for row in df_anime['Duration']:
  tmp=row.split(' ')
  min=0
  for i in range(len(tmp)):
    if tmp[i]=='hr.':
      min=min+60*int(tmp[i-1])
    elif tmp[i]=='min.':
      min=min+int(tmp[i-1])
  du.append(min)

df_anime['Duration']=du
df_anime['Duration'].head()

0     24
1    115
2     24
3     25
4     23
Name: Duration, dtype: int64

In [ ]:
#Score 컬럼 결측치 조건부로 채우기

In [ ]:
#Rating 알파벳 등급만 남기기

In [64]:
#1차적으로 필요하지 않은 컬럼들은 drop

df_anime.drop(columns=['English name','Japanese name'],inplace=True) #이름 관련 컬럼이 3개나 있는데 Name 하나만 남겨두고 나머지는 drop
df_anime.drop('Aired',axis=1,inplace=True) #Premiered와 비슷한 내용이므로 drop
df_anime.drop('Premiered',axis=1,inplace=True) #Premiered를 Year과 Season으로 나눠줬으므로 drop
df_anime.drop('Ranked',axis=1,inplace=True) #Score 기반으로 순위를 매긴 것이므로 Score을 남겨두고 Ranked는 drop
df_anime.drop('Genres',axis=1,inplace=True) #장르 각각 새로운 컬럼으로 나눠줬으므로 기존의 Genres는 drop
df_anime.drop('Licensors',axis=1,inplace=True) #Licensors를 활용해보고 싶었으나 이미 컬럼의 수가 많기도 하고, 상대적으로 중요도가 떨어질 것으로 예상되어 drop
df_anime.drop('Producers',axis=1,inplace=True) #Producers를 활용해보고 싶었으나, 어느 Producer가 기여도가 높은지 알 수 없어 전처리하기 어려울 것으로 판단되므로 drop

In [75]:
df_anime.head().T

,0,1,2,3,4
MAL_ID,1,5,6,7,8
Name,Cowboy Bebop,Cowboy Bebop: Tengoku no Tobira,Trigun,Witch Hunter Robin,Bouken Ou Beet
Score,8.78,8.39,8.24,7.27,6.98
Genres,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","Action, Drama, Mystery, Sci-Fi, Space","Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Action, Mystery, Police, Supernatural, Drama, ...","Adventure, Fantasy, Shounen, Supernatural"
English name,Cowboy Bebop,Cowboy Bebop:The Movie,Trigun,Witch Hunter Robin,Beet the Vandel Buster
Japanese name,カウボーイビバップ,カウボーイビバップ 天国の扉,トライガン,Witch Hunter ROBIN (ウイッチハンターロビン),冒険王ビィト
Type,TV,Movie,TV,TV,TV
Episodes,26,1,26,26,52
Aired,"Apr 3, 1998 to Apr 24, 1999","Sep 1, 2001","Apr 1, 1998 to Sep 30, 1998","Jul 2, 2002 to Dec 24, 2002","Sep 30, 2004 to Sep 29, 2005"
Premiered,Spring 1998,0,Spring 1998,Summer 2002,Fall 2004
Producers,Bandai Visual,"Sunrise, Bandai Visual",Victor Entertainment,"TV Tokyo, Bandai Visual, Dentsu, Victor Entert...","TV Tokyo, Dentsu"
Licensors,"Funimation, Bandai Entertainment",Sony Pictures Entertainment,"Funimation, Geneon Entertainment USA","Funimation, Bandai Entertainment",0
Studios,Sunrise,Bones,Madhouse,Sunrise,Toei Animation
Source,Original,Original,Manga,Original,Manga
Duration,24 min. per ep.,1 hr. 55 min.,24 min. per ep.,25 min. per ep.,23 min. per ep.
Rating,R - 17+ (violence & profanity),R - 17+ (violence & profanity),PG-13 - Teens 13 or older,PG-13 - Teens 13 or older,PG - Children
Ranked,28.0,159.0,266.0,2481.0,3710.0
Popularity,39,518,201,1467,4369
Members,1251960,273145,558913,94683,13224
Favorites,61971,1174,12944,587,18
Watching,105808,4143,29113,4300,642
Completed,718161,208333,343492,46165,7314
On-Hold,71513,1935,25465,5121,766
Dropped,26678,770,13925,5378,1108
Plan to Watch,329800,57964,146918,33719,3394
Score-10,229170,30043,50229,2182,312
Score-9,182126,49201,75651,4806,529
Score-8,131625,49505,86142,10128,1242
Score-7,62330,22632,49432,11618,1713
Score-6,20688,5805,15376,5709,1068
Score-5,8904,1877,5838,2920,634
Score-4,3184,577,1965,1083,265
Score-3,1357,221,664,353,83
Score-2,741,109,316,164,50
Score-1,1580,379,533,131,27
Action,1,1,1,1,0
Adventure,1,0,1,0,1
Comedy,1,0,1,0,0
Slice of Life,0,0,0,0,0
Drama,1,1,1,1,0
Sci-Fi,1,1,1,0,0
Game,0,0,0,0,0
Harem,0,0,0,0,0
Military,0,0,0,0,0
Space,1,1,0,0,0
Music,0,0,0,0,0
Mecha,0,0,0,0,0
Historical,0,0,0,0,0
Mystery,0,1,0,1,0
School,0,0,0,0,0
Hentai,0,0,0,0,0
Fantasy,0,0,0,0,1
Horror,0,0,0,0,0
Kids,0,0,0,0,0
Sports,0,0,0,0,0
Magic,0,0,0,1,0
Romance,0,0,0,0,0
Year,1998,0,1998,2002,2004
Season,Spring,,Spring,Summer,Fall

In [44]:
df_anime.describe()

,MAL_ID,Score,Episodes,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,...,Historical,Mystery,School,Hentai,Fantasy,Horror,Kids,Sports,Magic,Romance
count,17562.000000,17562.000000,17562.000000,17562.000000,1.756200e+04,17562.000000,17562.000000,1.756200e+04,17562.000000,17562.000000,...,17562.000000,17562.000000,17562.000000,17562.000000,17562.000000,17562.000000,17562.000000,17562.000000,17562.000000,17562.000000
mean,21477.192347,4.604299,11.186881,8763.452340,3.465854e+04,457.746270,2231.487758,2.209557e+04,955.049653,1176.599533,...,0.065141,0.041396,0.093497,0.076757,0.187052,0.026307,0.151748,0.040599,0.061553,0.108131
std,14900.093170,3.054669,46.688414,5059.327278,1.252821e+05,4063.473313,14046.688133,9.100919e+04,4275.675096,4740.348653,...,0.246781,0.199210,0.291136,0.266212,0.389964,0.160051,0.358787,0.197365,0.240349,0.310555
min,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5953.500000,0.000000,1.000000,4383.500000,3.360000e+02,0.000000,13.000000,1.110000e+02,6.000000,37.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,22820.000000,6.060000,1.000000,8762.500000,2.065000e+03,3.000000,73.000000,8.175000e+02,45.000000,77.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,35624.750000,6.860000,12.000000,13145.000000,1.322325e+04,31.000000,522.000000,6.478000e+03,291.750000,271.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,48492.000000,9.190000,3057.000000,17565.000000,2.589552e+06,183914.000000,887333.000000,2.182587e+06,187919.000000,174710.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

###2) rating_complete.csv

* `user_id`: non identifiable randomly generated user id.
* `anime_id`: - MyAnimelist ID of the anime that this user has rated.
* `rating`: rating that this user has assigned.

In [ ]:
rating=pd.read_csv("/content/drive/MyDrive/archive/rating_complete.csv")
rating.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

In [ ]:
rating.describe()

            user_id      anime_id        rating
count  5.763328e+07  5.763328e+07  5.763328e+07
mean   1.768878e+05  1.583147e+04  7.510789e+00
std    1.020117e+05  1.326114e+04  1.697722e+00
min    0.000000e+00  1.000000e+00  1.000000e+00
25%    8.827800e+04  3.091000e+03  7.000000e+00
50%    1.772910e+05  1.188700e+04  8.000000e+00
75%    2.654190e+05  2.899900e+04  9.000000e+00
max    3.534040e+05  4.845600e+04  1.000000e+01